<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Musical</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="app-container">
        <!-- Sidebar -->
        <header class="navbar">
            <!-- Logo Container -->
            <div class="logo-container">
                <img src="/images/Logo.png" alt="Logo" class="logo">
            </div>
            <div class="navbar-title">
                <h1>Catalogo Musical</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/discs">Discos</a></li>
                <li><a href="/artists">Artistas</a></li>
                <li><a href="/genres">Gêneros</a></li>
            </ul>
        </header>

        <!-- Main Content Area -->
        <div class="content-container">
            <main class="main-content">
            </main>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal-overlay">
        <div class="modal-content">
            <h1>Bem Vindo ao Catalogo Musical</h1>
            <p>Bem-vindo ao Catálogo Musical! Explore, organize e crie o mundo da música do seu jeito. Vamos começar?</p>
            <button class="modal-button">Legal, Vamos começar!</button>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
